[submodule "themes"]
	path = themes
	url = https://github.com/mikar/awesome-themes.git
[submodule "lib/hints"]
	path = lib/hints
	url = https://github.com/wiedzmin/hints.git
[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain
[submodule "lib/eminent"]
	path = lib/eminent
	url = https://github.com/guotsuan/eminent.git
